@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* --TEXTO-- */
  h1 {
    @apply text-[3.5rem] font-medium
  }
  h2 {
    @apply text-[3rem] font-bold
  }
  h3 {
    @apply text-[1.5rem] lg:text-[2.5rem];
  }
  h4 {
    @apply text-[1rem] lg:text-[2rem];
  }
  h5 {
    @apply text-[1rem] lg:text-[1.75rem];
  }
  h6 {
    @apply text-[0.75rem] lg:text-[1.5rem];
  }
  p, li {
    @apply text-[0.75rem] lg:text-[1rem];
  }
  .subtitle {
    @apply text-[0.75rem] lg:text-[1.25rem];
  }
  /*-- FORM --*/
  label {
    @apply mb-[7px] text-[0.75rem] lg:text-[1rem] font-bold leading-[-0.02rem];
  }
  button[type='submit'] {
    @apply leading-[-0.02rem];
  }
}


@layer components {
  .header-nav {
    @apply flex place-items-center place-content-center w-[95px] lg:w-[185px] h-[20px] lg:h-[28px] bg-white rounded-xl text-gray-500 text-[0.5rem] lg:text-[1rem] hover:bg-blue-500 hover:text-white active:bg-blue-500 active:text-white;
  }
  .fav, .comprar, .addcarrinho {
    @apply hover:cursor-pointer;
  }
  .criar_produto_imagens label {
    @apply flex flex-col items-center;
  }
  upload_area {
    @apply flex justify-center items-center w-[106px] h-[81px] bg-white;
  }
}


@layer utilities {
  /*-- TEXTO --*/
  .text-balance {
    text-wrap: balance;
  }
  h1.font-display, h2.font-display, .subtitle.font-display {
    font-weight: 900;
  }
  h1.font-display {
    font-size: 4.5rem;
  }
  h2.font-display {
    font-size: 4rem;
  }
  h3.font-display, h4.font-display, h5.font-display, h6.font-display, p.font-display {
    font-weight: 100;
  }
}