@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* --TEXTO-- */
  h1.font-display, h2.font-display, .subtitle.font-display {
    @apply font-black;
  }
  h3.font-display, h4.font-display, h5.font-display, h6.font-display, p.font-display {
    @apply font-thin;
  }
  h1, .h1 {
    @apply text-[24px] lg:text-[56px] font-medium;

    &.font-display {
      @apply text-[20px] lg:text-[72px];
    }
  }
  h2, .h2 {
    @apply text-[20px] lg:text-[48px] font-bold;

    &.font-display {
      @apply text-[16px] lg:text-[64px];
    }
  }
  h3, .h3 {
    @apply text-[16px] lg:text-[40px];

    &.font-display {
      @apply text-[14px] lg:text-[40px];
    }
  }
  h4 {
    @apply text-[14px] lg:text-[32px];

    &.font-display {
      @apply text-[12px] lg:text-[32px];
    }
  }
  h5 {
    @apply text-[12px] lg:text-[28px];

    &.font-display {
      @apply text-[10px] lg:text-[28px];
    }
  }
  h6 {
    @apply text-[11px] lg:text-[24px] lg:font-light;

    &.font-display {
      @apply text-[8px] lg:text-[24px];
    }
  }
  .subtitle {
    @apply text-[16px] lg:text-[20px];
  }
  p, li {
    @apply text-[12px] lg:text-[16px];
  }
  /*-- FORM --*/
  label {
    @apply mb-[7px] text-[0.75rem] lg:text-[1rem] font-bold leading-[-0.02rem];
  }
  button[type='submit'], .espacamento {
    @apply leading-[-0.02rem];
  }
}


@layer components {
  .header {
    @apply flex flex-col w-full py-[22px] lg:pt-[34px] lg:pb-[52px] px-[26px] lg:px-[115px] gap-[16px] bg-gray-700;
  }
  .header-nav {
    @apply flex w-full py-[13px] lg:py-[16px] px-[26px] lg:px-[140px] gap-[21px] lg:gap-[50px];

    ul {
      scrollbar-color: rgb(53, 53, 53) transparent;
      scrollbar-width: thin;
    }
  }
  .header-nav-list-items {
    @apply flex place-items-center place-content-center w-[95px] lg:w-[185px] h-[20px] lg:h-[28px] bg-white rounded-xl text-gray-500 text-[0.5rem] lg:text-[1rem] hover:bg-blue-500 hover:text-white active:bg-blue-500 active:text-white;
  }
  .footer {
    @apply flex flex-col lg:flex-row lg:justify-center w-full py-[48px] pl-[23.5vw] lg:pl-0 gap-[46px] lg:gap-[78px] text-white;

    legend {
      @apply mb-[20px] text-[1rem] lg:text-[1.5rem] lg:font-bold;
    }
  }
  .fav, .comprar, .addcarrinho {
    @apply hover:cursor-pointer;
  }
  .criar_produto_imagens label {
    @apply flex flex-col items-center;
  }
  .upload_area {
    @apply flex justify-center items-center w-[46px] h-[35px] lg:w-[106px] lg:h-[81px] bg-white;
  }
  .card {
    @apply flex flex-col w-[120px] lg:w-[235px] h-[200px] lg:h-[381px] my-[12px] mx-[10px] py-[9px] lg:py-[12px] px-[5px] lg:px-[16px] bg-white shadow-lg rounded-lg;
  }
  .criar-produto {
    input {
      @apply w-[98%] lg:w-[235px] h-[32px] lg:h-[381px] bg-white shadow-lg rounded-[4px];
    }
  }
  button {
    .comprar {
      @apply w-[60px] lg:w-[138px] h-[28px] lg:h-[52px] bg-blue-500 rounded-lg py-[14px] px-[17px] text-white font-black text-[11px] lg:text-[20px];
    }
    .add-cart {
      @apply w-[50px] h-[46px] bg-yellow-500 rounded-xl py-[5px] px-[7px];
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: #bbb; /* Cor de fundo das bolinhas */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #333; /* Cor de fundo das bolinhas ativas */
}
/* styles/globals.css */

@import "~slick-carousel/slick/slick.css";



@layer utilities {
  /*-- TEXTO --*/
  .text-balance {
    text-wrap: balance;
  }
  /*-- BOTÕES --*/
  .criar-produto, .editar-produto {
    @apply self-center py-[11px] lg:py-[22px] px-[15px] lg:px-[63px] text-[16px] lg:text-[32px] leading-[-2%] font-black text-white rounded-[6px] lg:rounded-[10px] cursor-pointer;
  }
  .criar-produto {
    @apply bg-blue-600;
  }
  .editar-produto {
    @apply bg-yellow-800;
  }
}